In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Villa Corzo,MX,2021-07-20 19:38:54,16.1667,-93.2500,84.99,53,62,3.29
1,1,Kita,ML,2021-07-20 19:38:55,13.0349,-9.4895,84.85,63,30,4.47
2,2,Whitehorse,CA,2021-07-20 19:38:55,60.7161,-135.0538,63.37,63,75,6.91
3,3,Chicama,PE,2021-07-20 19:38:56,-7.8447,-79.1469,66.74,63,4,10.45
4,4,Victoria,HK,2021-07-20 19:38:28,22.2855,114.1577,82.38,94,100,1.01

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add center and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Whitehorse,CA,2021-07-20 19:38:55,60.7161,-135.0538,63.37,63,75,6.91
3,3,Chicama,PE,2021-07-20 19:38:56,-7.8447,-79.1469,66.74,63,4,10.45
12,12,Vaini,TO,2021-07-20 19:38:59,-21.2000,-175.2000,71.76,94,40,4.61
14,14,Avarua,CK,2021-07-20 19:39:00,-21.2078,-159.7750,78.85,83,0,12.66
18,18,Mildmay,CA,2021-07-20 19:39:01,44.0501,-81.1164,79.90,79,3,1.99
20,20,Pisco,PE,2021-07-20 19:39:01,-13.7000,-76.2167,62.65,88,75,5.75
22,22,Tabou,CI,2021-07-20 19:39:02,4.4230,-7.3528,77.04,75,37,8.79
25,25,Seoul,KR,2021-07-20 19:38:50,37.5683,126.9778,78.24,91,20,2.30
26,26,Tuktoyaktuk,CA,2021-07-20 19:39:04,69.4541,-133.0374,75.20,46,1,18.41
27,27,Praia Da Vitoria,PT,2021-07-20 19:39:04,38.7333,-27.0667,77.25,65,20,13.11

In [14]:
preferred_cities_df.count()

City_ID       268
City          268
Country       268
Date          268
Lat           268
Lng           268
Max Temp      268
Humidity      268
Cloudiness    268
Wind Speed    268
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
2         Whitehorse      CA     63.37  60.7161 -135.0538
3            Chicama      PE     66.74  -7.8447  -79.1469
12             Vaini      TO     71.76 -21.2000 -175.2000
14            Avarua      CK     78.85 -21.2078 -159.7750
18           Mildmay      CA     79.90  44.0501  -81.1164
20             Pisco      PE     62.65 -13.7000  -76.2167
22             Tabou      CI     77.04   4.4230   -7.3528
25             Seoul      KR     78.24  37.5683  126.9778
26       Tuktoyaktuk      CA     75.20  69.4541 -133.0374
27  Praia Da Vitoria      PT     77.25  38.7333  -27.0667

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
     print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Whitehorse,CA,63.37,60.7161,-135.0538,The Sternwheeler Hotel & Conference Centre
3,Chicama,PE,66.74,-7.8447,-79.1469,Balihai Bungalows
12,Vaini,TO,71.76,-21.2000,-175.2000,Keleti Beach Resort
14,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
18,Mildmay,CA,79.90,44.0501,-81.1164,Carrick Camp Grounds
20,Pisco,PE,62.65,-13.7000,-76.2167,Hotel San Isidro Oficial
22,Tabou,CI,77.04,4.4230,-7.3528,hotêl doufoulougou
25,Seoul,KR,78.24,37.5683,126.9778,롯데호텔 서울
26,Tuktoyaktuk,CA,75.20,69.4541,-133.0374,End of The Road Ltd.
27,Praia Da Vitoria,PT,77.25,38.7333,-27.0667,Hotel Branco I

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))